<img class="wave" src="../../assets/wave.png" />
<div class="container">
  <div class="img">
    <img src="../../assets/bg.svg" />
  </div>
  <div class="login-content">
    <form [formGroup]="SignUpForm">
      <img src="../../assets/avatar.svg" />
      <h2 class="title">Create Your Account!</h2>
      <div class="invalidForm" *ngIf="SignUpForm.invalid">
        {{ erreurMessage }}
      </div>
      <div class="input-div one">
        <div class="i">
          <i class="fas fa-user"></i>
        </div>
        <div class="div">
          <input
            type="text"
            class="input"
            placeholder="FirstName"
            formControlName="firstName"
          />
        </div>
      </div>
      <div class="input-div pass">
        <div class="i">
          <i class="fas fa-user"></i>
        </div>
        <div class="div">
          <input
            type="text"
            class="input"
            placeholder="LastName"
            formControlName="lastName"
          />
        </div>
      </div>
      <div class="input-div one">
        <div class="i">
          <i class="fas fa-user"></i>
        </div>
        <div class="div">
          <input
            type="text"
            class="input"
            placeholder="UserName"
            formControlName="userName"
          />
        </div>
      </div>
      <div class="input-div pass">
        <div class="i">
          <i class="fas fa-envelope-square"></i>
        </div>
        <div class="div">
          <input
            type="email"
            class="input"
            placeholder="Email"
            formControlName="email"
          />
        </div>
      </div>
      <div class="input-div pass">
        <div class="i">
          <i class="fas fa-lock"></i>
        </div>
        <div class="div">
          <input
            type="password"
            class="input"
            placeholder="Password"
            formControlName="password"
          />
        </div>
      </div>
      <div class="input-div pass">
        <div class="i">
          <i class="fas fa-lock"></i>
        </div>
        <div class="div">
          <input
            type="password"
            class="input"
            placeholder="Retype password"
            formControlName="password2"
          />
        </div>
      </div>
      <input
        type="submit"
        class="btn"
        value="Sign Up"
        (click)="onSignUp()"
        [disabled]="SignUpForm.invalid"
      />
    </form>
  </div>
</div>
